
.DS_Store
Data/.DS_Store
Data/.DS_Store
Data/.DS_Store
.DS_Store
.DS_Store
Data/.DS_Store
Data/Pmag_new/.DS_Store
Data/Pmag_new/.DS_Store
Data/Pmag_new/.DS_Store
Data/.DS_Store
.DS_Store
Data/Keweenawan_track/.DS_Store
Data/Keweenawan_track/.DS_Store
Data/Keweenawan_track/.DS_Store
Data/Keweenawan_track/.DS_Store
.DS_Store
.DS_Store
Manuscript/SI_petrography.pdf
Figures/Strat/AF_strat.pdf
Figures/Strat/HF_strat.pdf
Figures/Strat/JK_strat.pdf
Figures/Strat/NW_strat.pdf
Figures/Strat/SC_strat.pdf
Manuscript/cover_letter.tex
Manuscript/Manuscript.aux
Manuscript/Manuscript.bbl
Manuscript/Manuscript.blg
Manuscript/Manuscript.fdb_latexmk
Manuscript/Manuscript.synctex.gz
Manuscript/Intraclast_pmag.pdf
Manuscript/in_situ_pmag.pdf
Manuscript/in_situ_pmag.pdf
Manuscript/Intraclast_pmag.pdf
